body {
    background-image:url(../img/background.jpg);
    background-attachment:fixed;
    background-size:cover;
    background-position:center;
    font-family:'Open Sans','helvetica',arial,sans-serif;
    font-weight:300;
    text-shadow:0 1px rgba(0,0,0,0.3);
    color:#62686f;
}
h1, h2, h3, h4, h5, h6 {
    color:#333;
    font-weight:300;
    margin:0;
}

.container {
    width: 960px;
    margin:0 auto;
}

/* header */
.main-header {
    margin-top:200px;
    background-image:url(../img/banner.jpg);
    background-repeat:no-repeat;
    text-align:center;
}
.main-header__avatar {
    display:block;
    width:130px;
    margin:0 auto;
    margin-top:-70px;
    margin-bottom:10px;
    box-shadow:0 0 2px 1px rgba(0,0,0,0.2);
    border-style:solid;
    border-width:4px;
    border-color:#fff;
    border-radius:999px;
}
h1 {
    margin:0;
}
.main-nav {
    background-color:#333;
    text-align:center;
}
.main-nav>ul {
    list-style:none;
    margin:0;
    padding:0;
}
.main-nav>ul>li {
    margin:15px 10px;
    display:inline-block;
}
.main-nav>ul>li>a {
    color:#fff;
    font-size:0.9em;
    font-weight:300;
    text-transform:uppercase;
    text-decoration:none;
}
.main-nav>ul>li>a:hover {
    text-decoration:underline;
}

/* content */
.info-section {
    background:#fff;
    padding:30px 60px;
    text-align:center;
}
.info-section header h2 {
    font-size:28px;
    text-transform:uppercase;
    letter-spacing:3px;
}
.info-section header h2::after {
    content:"";
    display:block;
    width:9%;
    margin:5px auto;
    border-bottom:3px solid black;
}
.info-section__description {
    font-style:italic;
    margin-bottom:60px;
}
.whatido__skill-list {
    list-style:none;
    margin:0;
    padding:0;
    overflow:hidden;
}
.whatido__skill {
    padding:110px 0 0 0;
    background-repeat:no-repeat;
    background-position:center top;
    float:left;
    width:33.33%;
}
.whatido__skill>p {
    margin:0;
    padding:0;
}
.whatido__skill--code {
    background-image:url(../img/skill-code.png);
}
.whatido__skill--design {
    background-image:url(../img/skill-design.png);
}
.whatido__skill--product {
    background-image:url(../img/skill-product.png);
}
